FcServices/WebContent/WEB-INF/wsdl/gcvp/syncserviceport_xsd_13.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. --><xsd:schema xmlns:ns0="http://epay.gov.kz/IBANService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://epay.gov.kz/IBANService" elementFormDefault="qualified"><xsd:complexType name="PEP_IBANCheckResponse"><xsd:sequence><xsd:element name="BranchName" type="xsd:string" minOccurs="0"/><xsd:element name="OrderNumber" type="xsd:string" minOccurs="0"/><xsd:element name="OrgOrderNumber" type="xsd:string" minOccurs="0"/><xsd:element name="OrderRunDate" type="xsd:dateTime"/><xsd:element name="Status" type="xsd:string" minOccurs="0"/><xsd:element name="OrgBIC" type="xsd:string" minOccurs="0"/><xsd:element name="OrgIIC" type="xsd:string" minOccurs="0"/><xsd:element name="OrgRNN" type="xsd:string" minOccurs="0"/><xsd:element name="OrgBIN" type="xsd:string" minOccurs="0"/><xsd:element name="AccountCreditingType" type="ns0:AccountCreditingType"/><xsd:element name="IBAN" type="xsd:string"/></xsd:sequence></xsd:complexType><xsd:complexType name="PEP_IBANCheckRequest"><xsd:sequence><xsd:element name="OrderNumber" type="xsd:string" minOccurs="0"/><xsd:element name="IIN" type="xsd:string" minOccurs="0"/><xsd:element name="RNN" type="xsd:string" minOccurs="0"/><xsd:element name="IBAN" type="xsd:string" minOccurs="0"/><xsd:element name="PaymentAccountType" type="xsd:string" minOccurs="0"/><xsd:element name="OrderDate" type="xsd:dateTime"/></xsd:sequence></xsd:complexType><xsd:simpleType name="AccountCreditingType"><xsd:restriction base="xsd:string"><xsd:enumeration value="Card"/><xsd:enumeration value="Account"/></xsd:restriction></xsd:simpleType></xsd:schema>