FcServices/WebContent/WEB-INF/wsdl/gcvp/syncserviceport_xsd_4.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. --><xsd:schema xmlns:ns1="http://dictionaries.persistence.interactive.nat" xmlns:ns0="http://document.persistence.interactive.nat" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://document.persistence.interactive.nat"><xsd:import schemaLocation="syncserviceport_xsd_9.xsd" namespace="http://dictionaries.persistence.interactive.nat"/><xsd:complexType name="Document"><xsd:sequence><xsd:element name="documentType" type="ns1:DocumentType"/><xsd:element name="number" type="xsd:string"/><xsd:element name="series" type="xsd:string" minOccurs="0"/><xsd:element name="beginDate" type="xsd:date"/><xsd:element name="endDate" type="xsd:date" minOccurs="0"/><xsd:element name="issueOrganization" type="ns1:DocumentOrganization"/><xsd:element name="documentInvalidity" type="ns1:DocumentInvalidity"/><xsd:element name="invalidityDate" type="xsd:date" minOccurs="0"/><xsd:element name="giveToPersonDate" type="xsd:date" minOccurs="0"/><xsd:element name="actual" type="xsd:boolean" minOccurs="0"/><xsd:element name="surname" type="xsd:string"/><xsd:element name="firstname" type="xsd:string"/><xsd:element name="secondname" type="xsd:string" minOccurs="0"/><xsd:element name="birthDate" type="xsd:date"/></xsd:sequence></xsd:complexType></xsd:schema>