FCIntegrations/src/kz/tamur/gbdul/fl/GBDFL_Universal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://digisign.webservice.request.universal.interactive.nat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="UniversalServiceDigisignService" targetNamespace="http://digisign.webservice.request.universal.interactive.nat">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://digisign.webservice.request.universal.interactive.nat" xmlns:tns="http://digisign.webservice.request.universal.interactive.nat" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="findPersonByIin" type="tns:findPersonByIin"/>
			<xs:element name="findPersonByIinResponse" type="tns:findPersonByIinResponse"/>
			<xs:complexType name="findPersonByIin">
				<xs:sequence>
					<xs:element minOccurs="0" name="requestIin" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="findPersonByIinResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="Exception" type="tns:Exception"/>
			<xs:complexType name="Exception">
				<xs:sequence>
					<xs:element minOccurs="0" name="message" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="Exception">
		<wsdl:part name="Exception" element="tns:Exception">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="findPersonByIin">
		<wsdl:part name="parameters" element="tns:findPersonByIin">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="findPersonByIinResponse">
		<wsdl:part name="parameters" element="tns:findPersonByIinResponse">
    </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="UniversalServiceDigisign">
		<wsdl:operation name="findPersonByIin">
			<wsdl:input name="findPersonByIin" message="tns:findPersonByIin">
    </wsdl:input>
			<wsdl:output name="findPersonByIinResponse" message="tns:findPersonByIinResponse">
    </wsdl:output>
			<wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UniversalServiceDigisignServiceSoapBinding" type="tns:UniversalServiceDigisign">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="findPersonByIin">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="findPersonByIin">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="findPersonByIinResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Exception">
				<soap:fault name="Exception" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UniversalServiceDigisignService">
		<wsdl:port name="UniversalServiceDigisignPort" binding="tns:UniversalServiceDigisignServiceSoapBinding">
			<soap:address location="http://192.168.55.76:8080/universal/UniversalServiceDigisign"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
