FCIntegrations/src/kz/tamur/or3/mtsznchildinfo/MonService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://mon.services.gcvp.kz/" name="MonService" targetNamespace="http://mon.services.gcvp.kz/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://mon.services.gcvp.kz/" elementFormDefault="unqualified" targetNamespace="http://mon.services.gcvp.kz/" version="1.0">

  <xs:element name="getChildInfo" type="tns:getChildInfo"/>

  <xs:element name="getChildInfoResponse" type="tns:getChildInfoResponse"/>

  <xs:complexType name="getChildInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:childRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="childRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="requestInfo" type="tns:requestInfo"/>
      <xs:element minOccurs="0" name="systemInfo" type="tns:systemInfo"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="requestInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="iin" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="systemInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="additionalInfo" type="xs:string"/>
      <xs:element minOccurs="0" name="chainId" type="xs:string"/>
      <xs:element minOccurs="0" name="digiSign" type="xs:string"/>
      <xs:element minOccurs="0" name="messageDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="messageId" type="xs:string"/>
      <xs:element minOccurs="0" name="sender" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="tns:referenceValue"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="referenceValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
      <xs:element minOccurs="0" name="messageKz" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getChildInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:childResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="childResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="requestInfo" type="tns:requestInfo"/>
      <xs:element minOccurs="0" name="responseInfo" type="tns:responseInfo"/>
      <xs:element minOccurs="0" name="systemInfo" type="tns:systemInfo"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="responseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="birthDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="iin" type="xs:string"/>
      <xs:element minOccurs="0" name="middleName" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="payments" nillable="true" type="tns:payment"/>
      <xs:element minOccurs="0" name="status" type="xs:int"/>
      <xs:element minOccurs="0" name="surname" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="payment">
    <xs:sequence>
      <xs:element minOccurs="0" name="beginDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="type" type="tns:referenceValue"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getChildInfo">
    <wsdl:part element="ns1:getChildInfo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getChildInfoResponse">
    <wsdl:part element="ns1:getChildInfoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MonService">
    <wsdl:operation name="getChildInfo">
      <wsdl:input message="ns1:getChildInfo" name="getChildInfo">
    </wsdl:input>
      <wsdl:output message="ns1:getChildInfoResponse" name="getChildInfoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>