FCIntegrations/src/kz/tamur/or3/mtszn/SyncServicePort.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.sync.mtszn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.sync.mtszn/" name="SyncServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.sync.mtszn/" schemaLocation="syncserviceport_xsd_1.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://kz/mtszn/gcvp/bas/SSIFService/Types" schemaLocation="syncserviceport_xsd_7.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://birth.info.zags.kz" schemaLocation="syncserviceport_xsd_8.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://dictionaries.persistence.interactive.nat" schemaLocation="syncserviceport_xsd_9.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://person.persistence.interactive.nat" schemaLocation="syncserviceport_xsd_10.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://address.persistence.interactive.nat" schemaLocation="syncserviceport_xsd_11.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://helpers.guardianship.service.akimat.shep.nit" schemaLocation="syncserviceport_xsd_12.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://epay.gov.kz/IBANService" schemaLocation="syncserviceport_xsd_13.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://types.efarm.service.akimat.shep.nit" schemaLocation="syncserviceport_xsd_14.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://MVD.ProxyServices/mvd/DriverCardInfo/VUInfoService" schemaLocation="syncserviceport_xsd_2.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://schemas.letograf.kz/iiscon/mvd/driver" schemaLocation="syncserviceport_xsd_3.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://document.persistence.interactive.nat" schemaLocation="syncserviceport_xsd_4.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://igcvp_ss_sysinfo.interfaces.allowance.mtszn.mtszn.allowance.library/" schemaLocation="syncserviceport_xsd_5.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://v6.systeminfo.services.shep.nitec.kz" schemaLocation="syncserviceport_xsd_6.xsd"/>
</xsd:schema>
</types>
<message name="getP06551">
<part name="parameters" element="tns:getP06551"/>
</message>
<message name="getP06551Response">
<part name="parameters" element="tns:getP06551Response"/>
</message>
<message name="getP06552">
<part name="parameters" element="tns:getP06552"/>
</message>
<message name="getP06552Response">
<part name="parameters" element="tns:getP06552Response"/>
</message>
<message name="getP06553">
<part name="parameters" element="tns:getP06553"/>
</message>
<message name="getP06553Response">
<part name="parameters" element="tns:getP06553Response"/>
</message>
<message name="getP06554">
<part name="parameters" element="tns:getP06554"/>
</message>
<message name="getP06554Response">
<part name="parameters" element="tns:getP06554Response"/>
</message>
<message name="getP06555">
<part name="parameters" element="tns:getP06555"/>
</message>
<message name="getP06555Response">
<part name="parameters" element="tns:getP06555Response"/>
</message>
<message name="getP06556">
<part name="parameters" element="tns:getP06556"/>
</message>
<message name="getP06556Response">
<part name="parameters" element="tns:getP06556Response"/>
</message>
<message name="getP06557">
<part name="parameters" element="tns:getP06557"/>
</message>
<message name="getP06557Response">
<part name="parameters" element="tns:getP06557Response"/>
</message>
<message name="getP06558">
<part name="parameters" element="tns:getP06558"/>
</message>
<message name="getP06558Response">
<part name="parameters" element="tns:getP06558Response"/>
</message>
<message name="getP06559">
<part name="parameters" element="tns:getP06559"/>
</message>
<message name="getP06559Response">
<part name="parameters" element="tns:getP06559Response"/>
</message>
<message name="getP06560">
<part name="parameters" element="tns:getP06560"/>
</message>
<message name="getP06560Response">
<part name="parameters" element="tns:getP06560Response"/>
</message>
<message name="getP06580">
<part name="parameters" element="tns:getP06580"/>
</message>
<message name="getP06580Response">
<part name="parameters" element="tns:getP06580Response"/>
</message>
<message name="getP06581">
<part name="parameters" element="tns:getP06581"/>
</message>
<message name="getP06581Response">
<part name="parameters" element="tns:getP06581Response"/>
</message>
<message name="getP06582">
<part name="parameters" element="tns:getP06582"/>
</message>
<message name="getP06582Response">
<part name="parameters" element="tns:getP06582Response"/>
</message>
<message name="getP06590">
<part name="parameters" element="tns:getP06590"/>
</message>
<message name="getP06590Response">
<part name="parameters" element="tns:getP06590Response"/>
</message>
<message name="getP06561">
<part name="parameters" element="tns:getP06561"/>
</message>
<message name="getP06561Response">
<part name="parameters" element="tns:getP06561Response"/>
</message>
<message name="getP06562">
<part name="parameters" element="tns:getP06562"/>
</message>
<message name="getP06562Response">
<part name="parameters" element="tns:getP06562Response"/>
</message>
<message name="getP06563">
<part name="parameters" element="tns:getP06563"/>
</message>
<message name="getP06563Response">
<part name="parameters" element="tns:getP06563Response"/>
</message>
<message name="getP06591">
<part name="parameters" element="tns:getP06591"/>
</message>
<message name="getP06591Response">
<part name="parameters" element="tns:getP06591Response"/>
</message>
<portType name="SyncService">
<operation name="getP06551">
<input wsam:Action="http://services.sync.mtszn/SyncService/getP06551Request" message="tns:getP06551"/>
<output wsam:Action="http://services.sync.mtszn/SyncService/getP06551Response" message="tns:getP06551Response"/>
</operation>
<operation name="getP06552">
<input wsam:Action="http://services.sync.mtszn/SyncService/getP06552Request" message="tns:getP06552"/>
<output wsam:Action="http://services.sync.mtszn/SyncService/getP06552Response" message="tns:getP06552Response"/>
</operation>
<operation name="getP06553">
<input wsam:Action="http://services.sync.mtszn/SyncService/getP06553Request" message="tns:getP06553"/>
<output wsam:Action="http://services.sync.mtszn/SyncService/getP06553Response" message="tns:getP06553Response"/>
</operation>
<operation name="getP06554">
<input wsam:Action="http://services.sync.mtszn/SyncService/getP06554Request" message="tns:getP06554"/>
<output wsam:Action="http://services.sync.mtszn/SyncService/getP06554Response" message="tns:getP06554Response"/>
</operation>
<operation name="getP06555">
<input wsam:Action="http://services.sync.mtszn/SyncService/getP06555Request" message="tns:getP06555"/>
<output wsam:Action="http://services.sync.mtszn/SyncService/getP06555Response" message="tns:getP06555Response"/>
</operation>
<operation name="getP06556">
<input wsam:Action="http://services.sync.mtszn/SyncService/getP06556Request" message="tns:getP06556"/>
<output wsam:Action="http://services.sync.mtszn/SyncService/getP06556Response" message="tns:getP06556Response"/>
</operation>
<operation name="getP06557">
<input wsam:Action="http://services.sync.mtszn/SyncService/getP06557Request" message="tns:getP06557"/>
<output wsam:Action="http://services.sync.mtszn/SyncService/getP06557Response" message="tns:getP06557Response"/>
</operation>
<operation name="getP06558">
<input wsam:Action="http://services.sync.mtszn/SyncService/getP06558Request" message="tns:getP06558"/>
<output wsam:Action="http://services.sync.mtszn/SyncService/getP06558Response" message="tns:getP06558Response"/>
</operation>
<operation name="getP06559">
<input wsam:Action="http://services.sync.mtszn/SyncService/getP06559Request" message="tns:getP06559"/>
<output wsam:Action="http://services.sync.mtszn/SyncService/getP06559Response" message="tns:getP06559Response"/>
</operation>
<operation name="getP06560">
<input wsam:Action="http://services.sync.mtszn/SyncService/getP06560Request" message="tns:getP06560"/>
<output wsam:Action="http://services.sync.mtszn/SyncService/getP06560Response" message="tns:getP06560Response"/>
</operation>
<operation name="getP06580">
<input wsam:Action="http://services.sync.mtszn/SyncService/getP06580Request" message="tns:getP06580"/>
<output wsam:Action="http://services.sync.mtszn/SyncService/getP06580Response" message="tns:getP06580Response"/>
</operation>
<operation name="getP06581">
<input wsam:Action="http://services.sync.mtszn/SyncService/getP06581Request" message="tns:getP06581"/>
<output wsam:Action="http://services.sync.mtszn/SyncService/getP06581Response" message="tns:getP06581Response"/>
</operation>
<operation name="getP06582">
<input wsam:Action="http://services.sync.mtszn/SyncService/getP06582Request" message="tns:getP06582"/>
<output wsam:Action="http://services.sync.mtszn/SyncService/getP06582Response" message="tns:getP06582Response"/>
</operation>
<operation name="getP06590">
<input wsam:Action="http://services.sync.mtszn/SyncService/getP06590Request" message="tns:getP06590"/>
<output wsam:Action="http://services.sync.mtszn/SyncService/getP06590Response" message="tns:getP06590Response"/>
</operation>
<operation name="getP06561">
<input wsam:Action="http://services.sync.mtszn/SyncService/getP06561Request" message="tns:getP06561"/>
<output wsam:Action="http://services.sync.mtszn/SyncService/getP06561Response" message="tns:getP06561Response"/>
</operation>
<operation name="getP06562">
<input wsam:Action="http://services.sync.mtszn/SyncService/getP06562Request" message="tns:getP06562"/>
<output wsam:Action="http://services.sync.mtszn/SyncService/getP06562Response" message="tns:getP06562Response"/>
</operation>
<operation name="getP06563">
<input wsam:Action="http://services.sync.mtszn/SyncService/getP06563Request" message="tns:getP06563"/>
<output wsam:Action="http://services.sync.mtszn/SyncService/getP06563Response" message="tns:getP06563Response"/>
</operation>
<operation name="getP06591">
<input wsam:Action="http://services.sync.mtszn/SyncService/getP06591Request" message="tns:getP06591"/>
<output wsam:Action="http://services.sync.mtszn/SyncService/getP06591Response" message="tns:getP06591Response"/>
</operation>
</portType>
<binding name="SyncServicePortBinding" type="tns:SyncService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getP06551">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getP06552">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getP06553">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getP06554">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getP06555">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getP06556">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getP06557">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getP06558">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getP06559">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getP06560">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getP06580">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getP06581">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getP06582">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getP06590">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getP06561">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getP06562">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getP06563">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getP06591">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SyncServiceService">
<port name="SyncServicePort" binding="tns:SyncServicePortBinding">
<soap:address location="http://172.16.34.85:7001/MTSZN.Service-MTSZN.Sync.Services-context-root/SyncServicePort"/>
</port>
</service>
</definitions>