FCIntegrations/src/kz/tamur/or3/mtszn/syncserviceport_xsd_5.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. --><xsd:schema xmlns:ns0="http://igcvp_ss_sysinfo.interfaces.allowance.mtszn.mtszn.allowance.library/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://igcvp_ss_sysinfo.interfaces.allowance.mtszn.mtszn.allowance.library/"><xsd:complexType name="p06501Response"><xsd:sequence><xsd:element name="fio" type="ns0:FIO" minOccurs="0"/><xsd:element name="birthDate" type="xsd:dateTime" minOccurs="0"/><xsd:element name="iin" type="xsd:string" minOccurs="0"/><xsd:element name="socialStatuses" type="ns0:socialStatus" minOccurs="0" maxOccurs="unbounded" nillable="true"/><xsd:element name="ssAbleCode" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="socialStatus"><xsd:sequence><xsd:element name="ssId" type="xsd:string" minOccurs="0"/><xsd:element name="ssNameRu" type="xsd:string" minOccurs="0"/><xsd:element name="ssNameKz" type="xsd:string" minOccurs="0"/><xsd:element name="ssIssueDate" type="xsd:dateTime" minOccurs="0"/><xsd:element name="ssExpireDate" type="xsd:dateTime" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="FIO"><xsd:sequence><xsd:element name="lastName" type="xsd:string" minOccurs="0"/><xsd:element name="name" type="xsd:string" minOccurs="0"/><xsd:element name="middleName" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType></xsd:schema>