FCIntegrations/src/kz/tamur/or3/mtszn/syncserviceport_xsd_11.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. --><xsd:schema xmlns:ns1="http://dictionaries.persistence.interactive.nat" xmlns:ns0="http://address.persistence.interactive.nat" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://address.persistence.interactive.nat"><xsd:import schemaLocation="syncserviceport_xsd_9.xsd" namespace="http://dictionaries.persistence.interactive.nat"/><xsd:complexType name="MainAddressInfo"><xsd:sequence><xsd:element name="country" type="ns1:Country" minOccurs="0"/><xsd:element name="district" type="ns1:District" minOccurs="0"/><xsd:element name="region" type="ns1:Region" minOccurs="0"/><xsd:element name="city" type="xsd:string" minOccurs="0"/><xsd:element name="txtDistrict" type="xsd:string" minOccurs="0"/><xsd:element name="txtRegion" type="xsd:string" minOccurs="0"/><xsd:element name="arCode" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType></xsd:schema>