FCIntegrations/src/kz/tamur/gbdul/egp/dir/directory.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.egp.gbdul.tamur.kz/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://impl.egp.gbdul.tamur.kz/" name="DirectoryServiceService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://impl.egp.gbdul.tamur.kz/" schemaLocation="directories.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://GBD_UL_Native_Library/DataTypes/DirectoryTypes" schemaLocation="directory.xsd"/>
		</xsd:schema>
	</types>
	<message name="getDirectories">
		<part name="parameters" element="tns:getDirectories"/>
	</message>
	<message name="getDirectoriesResponse">
		<part name="parameters" element="tns:getDirectoriesResponse"/>
	</message>
	<message name="getDirectory">
		<part name="parameters" element="tns:getDirectory"/>
	</message>
	<message name="getDirectoryResponse">
		<part name="parameters" element="tns:getDirectoryResponse"/>
	</message>
	<message name="getLevelContent">
		<part name="parameters" element="tns:getLevelContent"/>
	</message>
	<message name="getLevelContentResponse">
		<part name="parameters" element="tns:getLevelContentResponse"/>
	</message>
	<message name="getNodeByCode">
		<part name="parameters" element="tns:getNodeByCode"/>
	</message>
	<message name="getNodeByCodeResponse">
		<part name="parameters" element="tns:getNodeByCodeResponse"/>
	</message>
	<message name="getRecordsByName">
		<part name="parameters" element="tns:getRecordsByName"/>
	</message>
	<message name="getRecordsByNameResponse">
		<part name="parameters" element="tns:getRecordsByNameResponse"/>
	</message>
	<message name="getRecordById">
		<part name="parameters" element="tns:getRecordById"/>
	</message>
	<message name="getRecordByIdResponse">
		<part name="parameters" element="tns:getRecordByIdResponse"/>
	</message>
	<message name="getRegOrgByKato">
		<part name="parameters" element="tns:getRegOrgByKato"/>
	</message>
	<message name="getRegOrgByKatoResponse">
		<part name="parameters" element="tns:getRegOrgByKatoResponse"/>
	</message>
	<portType name="DirectoryService">
		<operation name="getDirectories">
			<input message="tns:getDirectories"/>
			<output message="tns:getDirectoriesResponse"/>
		</operation>
		<operation name="getDirectory">
			<input message="tns:getDirectory"/>
			<output message="tns:getDirectoryResponse"/>
		</operation>
		<operation name="getLevelContent">
			<input message="tns:getLevelContent"/>
			<output message="tns:getLevelContentResponse"/>
		</operation>
		<operation name="getNodeByCode">
			<input message="tns:getNodeByCode"/>
			<output message="tns:getNodeByCodeResponse"/>
		</operation>
		<operation name="getRecordsByName">
			<input message="tns:getRecordsByName"/>
			<output message="tns:getRecordsByNameResponse"/>
		</operation>
		<operation name="getRecordById">
			<input message="tns:getRecordById"/>
			<output message="tns:getRecordByIdResponse"/>
		</operation>
		<operation name="getRegOrgByKato">
			<input message="tns:getRegOrgByKato"/>
			<output message="tns:getRegOrgByKatoResponse"/>
		</operation>
	</portType>
	<binding name="DirectoryServicePortBinding" type="tns:DirectoryService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getDirectories">
			<soap:operation/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getDirectory">
			<soap:operation/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getLevelContent">
			<soap:operation/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getNodeByCode">
			<soap:operation/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getRecordsByName">
			<soap:operation/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getRecordById">
			<soap:operation/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getRegOrgByKato">
			<soap:operation/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="DirectoryServiceService">
		<port name="DirectoryServicePort" binding="tns:DirectoryServicePortBinding">
			<soap:address location="http://192.168.13.64:8080/GbdulServices/directory"/>
		</port>
	</service>
</definitions>
