FCIntegrations/src/kz/tamur/gbdul/egp/dir/directory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<xs:schema xmlns:tns="http://GBD_UL_Native_Library/DataTypes/DirectoryTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://GBD_UL_Native_Library/DataTypes/DirectoryTypes" version="1.0">
	<xs:complexType name="DirectoryRequest">
		<xs:sequence>
			<xs:element name="DirectoryId" type="xs:string" minOccurs="0"/>
			<xs:element name="lastUpdate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="fullUpdate" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DirectoryResponse">
		<xs:sequence>
			<xs:element name="records" type="tns:Record" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LevelContentRequest">
		<xs:sequence>
			<xs:element name="DirectoryId" type="xs:string" minOccurs="0"/>
			<xs:element name="LevelId" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LevelContentResponse">
		<xs:sequence>
			<xs:element name="records" type="tns:Record" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NodeByCodeRequest">
		<xs:sequence>
			<xs:element name="DirectoryId" type="xs:string" minOccurs="0"/>
			<xs:element name="Code" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NodeByCodeResponse">
		<xs:sequence>
			<xs:element name="record" type="tns:Record" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecordsByNameRequest">
		<xs:sequence>
			<xs:element name="DirectoryId" type="xs:string" minOccurs="0"/>
			<xs:element name="RecName" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecordsByNameResponse">
		<xs:sequence>
			<xs:element name="records" type="tns:Record" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecordByIdRequest">
		<xs:sequence>
			<xs:element name="RecordId" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecordByIdResponse">
		<xs:sequence>
			<xs:element name="record" type="tns:Record" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegOrgByKatoRequest">
		<xs:sequence>
			<xs:element name="RecordId" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegOrgByKatoResponse">
		<xs:sequence>
			<xs:element name="record" type="tns:Record" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Record">
		<xs:sequence>
			<xs:element name="Id" type="xs:string" minOccurs="0"/>
			<xs:element name="Number" type="xs:string" minOccurs="0"/>
			<xs:element name="ValueRu" type="xs:string" minOccurs="0"/>
			<xs:element name="ValueKz" type="xs:string" minOccurs="0"/>
			<xs:element name="ParentId" type="xs:string" minOccurs="0"/>
			<xs:element name="PostCode" type="xs:string" minOccurs="0"/>
			<xs:element name="Selectable" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DirectoriesInfoRequest">
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="DirectoriesInfoResponse">
		<xs:sequence>
			<xs:element name="Directories" type="tns:Directory" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Directory">
		<xs:sequence>
			<xs:element name="Id" type="xs:string" minOccurs="0"/>
			<xs:element name="DirectoryNameRu" type="xs:string" minOccurs="0"/>
			<xs:element name="DirectoryNameKz" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
