FCIntegrations/src/kz/tamur/fc/egov/notification/data/notification-data.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" version="1.0">
	<xs:element name="notification" type="notificationType"/>
	<xs:complexType name="notificationType">
		<xs:sequence>
			<xs:element name="textRu" type="xs:string"/>
			<xs:element name="textKk" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
